################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SnakeGame/obj/Debug
/SnakeGame/bin/Debug
/.vs/SnakeGame/v16/.suo
